.element{
    background-color: green;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -250px;
    margin-right: 50px;
}
.child{
    background-color: blue;
    position: absolute;
    width: 800px;
    height: 210px;
    margin-top: 100px ;
    margin-left: 100px;
    border: 3px solid;   
}
.qsparent{
    background-color: red;
    position: relative;
    width: 1000px;
    height: 450px;
    margin-left: 10px;
    border: 3px solid;
}
.prnt{
    text-align: center;
}